/* Position and size our burger button */
.bm-burger-button {
    position: fixed;
    width: 23px;
    height: 23px;
    left: 32px;
    top: 32px;
    border-radius: 200px;
}

#react-burger-menu-btn{
  
}

/* Color to our burger */
.bm-burger-bars {
    /* background: linear-gradient(89.97deg, #36D1DC 1.84%, #064CE8 102.67%); */
    background: #fff;
}

/* Color to our burger icon on hover */
.bm-burger-bars-hover {
    background: rgb(209, 208, 208);
}

/* Size of the cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color of cross button */
.bm-cross {
    background: #000;
}

/* Sidebar wrapper styles */
.bm-menu-wrap {
    position: fixed;
    height: 100vh;
    overflow-x: hidden;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
}

.bm-menu {
    /* background: linear-gradient(to left , #36D1DC 1.84%, #064CE8 102.67%); */
    background: #fff;
    padding: 2.5em 1.5em 0 0;
    height: 100vh;
    overflow: hidden !important;
    scroll-behavior: none;
}

.bm-item-list {
    padding: 0.8em;
}

.menu-item {
    position: relative;
    font-size: 1em;
    text-decoration: none;
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    padding: 10px;
}

.menu-item:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}

.active-item {
    font-weight: 500;
}

.menu-item:hover:before,
.active-item:before {
    visibility: visible;
    height: 3px;
}
